AsyncSerVice1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.saki.demo/SampleService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SampleService" targetNamespace="http://www.saki.demo/SampleService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.saki.demo/SampleService/">
      <xsd:element name="AddCounter">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="in" type="xsd:int" />
          	<xsd:element name="Visitor" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddCounterResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddCounterRequest">
    <wsdl:part element="tns:AddCounter" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddCounterResponse">
    <wsdl:part element="tns:AddCounterResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SampleService">
    <wsdl:operation name="AddCounter">
      <wsdl:input message="tns:AddCounterRequest"/>

    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SampleServiceSOAP" type="tns:SampleService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddCounter">
      <soap:operation soapAction="http://www.saki.demo/SampleService/AddCounter"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleService">
    <wsdl:port binding="tns:SampleServiceSOAP" name="SampleServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
