asyncservice2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://saki.com/SubtractionService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SubtractionService" targetNamespace="http://saki.com/SubtractionService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://saki.com/SubtractionService/">
      <xsd:element name="removeRecord">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="in" type="xsd:int" />
          	<xsd:element name="Name" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="removeRecordRequest">
    <wsdl:part element="tns:removeRecord" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SubtractionService">
    <wsdl:operation name="removeRecord">
      <wsdl:input message="tns:removeRecordRequest"/>

    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubtractionServiceSOAP" type="tns:SubtractionService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="removeRecord">
      <soap:operation soapAction="http://saki.com/SubtractionService/removeRecord"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubtractionService">
    <wsdl:port binding="tns:SubtractionServiceSOAP" name="SubtractionServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
